* { margin: 0; padding: 0; box-sizing: border-box; }
body{
    background-color: azure;
}
.header {
    display: flex;
    align-items: center;
    gap: 20px; 
    background-color: rgba(13, 130, 247, 0.8);  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 30px;
    border-bottom: 1px solid rgba(224, 60, 60, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header::before {
    content: '';
    position: absolute;
    inset: 0; 
    z-index: -1; 
    background-image: repeating-linear-gradient(
        45deg,                     
        rgba(255, 255, 255, 0.05) 0px,  
        rgba(255, 255, 255, 0.05) 1px, 
        transparent 1px,           
        transparent 15px           
    );
}
.header h1 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #f0f0f0; 
}
.logo{
    width: 40px;
    height: 40px;
    background-color: #f0f0f0; 
    border-radius: 50%;
}
.nav-link {
 display: inline-block;  
    padding: 12px 24px; 
    background-color: rgba(0, 0, 0, 0.05); 
    border: 1px solid rgba(10, 10, 10, 0.2); 
    border-radius: 8px; 
    color: #e0e0e0; 
    text-decoration: none; 
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 1rem;
    text-transform: uppercase; 
    letter-spacing: 1px;   
    transition: all 0.3s ease;
    backdrop-filter: blur(5px); 
}


.nav-link:hover {
   background-color: #ffd700; 
    color: #121212;  
    transform: translateY(-3px); 
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
    border-color: #ffd700;
}
.nav-list {
    display: flex; 
    align-items: center; 
    list-style: none;
    gap: 15px; 
    margin: 10px;
    padding: 0;
}
.content {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
    margin-top: 80px;
}
h1 {
    font-size: 62px;
    font-weight: bold;
    color: #1a1a1a;
}
.footer {
    background-color: rgba(13, 130, 247, 0.8);  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 30px;
    border-top: 1px solid rgba(224, 60, 60, 0.1);
    text-align: center;
    color: #f0f0f0;
    height: 450px;
    flex: 1;
}
.footer::before {
    content: '';
    position: absolute;
    inset: 0; 
    z-index: -1; 
    background-image: repeating-linear-gradient(
        45deg,                     
        rgba(255, 255, 255, 0.05) 0px,  
        rgba(255, 255, 255, 0.05) 1px, 
        transparent 1px,           
        transparent 15px           
    );
}
.Acceso{
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left:10px;
}
