body{
    background-color: azure;
    font-family: 'Inter', sans-serif;
    
}
.login_container {
    display:flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
body::before {
    content: '';
    position: absolute;
    inset: 0; 
    z-index: -1; 
    background-image: repeating-linear-gradient(
        45deg,                     
        rgba(255, 255, 255, 0.05) 0px,  
        rgba(255, 255, 255, 0.05) 1px, 
        transparent 1px,           
        transparent 15px           
    );
}